# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Miguel\Documents\3_de_carrera\2_cuatrimestre\AOS\Practicas\Practica1\practica1_AOS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
